{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="{% static 'hackerearth.png' %}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link href="{% static '/add_image.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="nav-container">
        <nav>
            <div class="title">
                <h1><a href="/">Tourist Gallery</a></h1>
            </div>
            <ul>
                <li>
                    <a class="trans-button" href="/new"><button type="button">Add Image</button></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <h2 style="width: 230px; margin: auto; margin-top: 25px; margin-bottom: 25px;">Edit Image Details</h2>
        <form action="" method="POST" name="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-25">
                    <label for="fname">Image Name</label>
                </div>
                <div class="col-75">
                    {{ ImgName }}
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Image URL</label>
                </div>
                <div class="col-75">
                    {{ form.ImgURL }}
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="subject">Image Details</label>
                </div>
                <div class="col-75">
                    {{ form.ImgDetails }}
                </div>
            </div>
            <br>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>

</html>