<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="{% static 'hackerearth.png' %}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link href="{% static '/home.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="nav-container">
        <nav>
            <div class="title">
                <h1><a href="/">Tourist Gallery</a></h1>
            </div>
            <ul>
                <li>
                    <a class="trans-button" href="/new"><button type="button">Add Images</button></a>
                </li>
            </ul>
        </nav>
        <form action="/search/" method="get">
            <input type="text" placeholder="Search Image Name" name="search" id="search" required="False" />
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <h2 style="width: 340px; margin: auto; margin-top: 50px;">Showing all results for {{ search }}</h2>
    </div>

    <div class="cards" style="margin-top: 200px;">
        {% for i in page_obj %}
        <div class="card">
            <h1>{{ i.ImgName }}</h1>
            <div class="img-cont">
                <a href="/show/{{ i.id }}"><img src="{{ i.ImgURL }}" alt="" /></a>
            </div>
            <div class="reg-butt">
                <a href="/{{ i.id }}/edit" class="butt"><button type="button">Edit</button></a>
                <a href="/delete/{{ i.id }}" class="butt"><button type="button">Delete</button></a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="pages" href="?page=1">&laquo;&laquo; first</a>
                <a class="pages" href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a class="pages" href="?page={{ page_obj.next_page_number }}">next &raquo;</a>
                <a class="pages" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;&raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
    
</body>

</html>